<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <alert></alert>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- credits -->
<div class="text-center">
    <p>
        <a href="www.google.com" target="_top">Please Enter your Login Credentials to avail Offers and Hussle free shopping</a>
    </p>
    <p>
        <a href="www.google.com" target="_top">Bangalore Online Shopping</a>
    </p>
</div>